body {
  padding: 0;
  margin: 0;
  font-family:tahoma, calibri, sans;
  font-size:11px;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}
.select {
  -moz-user-select:text;
  -webkit-user-select:text;
  -ms-user-select:text
}
.loader {
  width:100%;
  text-align:center;
  margin-top:25px;
  display:none;
  color:#666;
}
/* Left */
div.left {
  width: 15%;
  border-right: 1pt solid #c9c9c9;
  float: left;
  margin-left: -1pt;
  padding-top:10px;
  height:100vh;
}
div.left-heading {
  font-size:12px;
  text-decoration:underline;
  color:#545454;
  margin-left:10px;
  margin-bottom:10px;
}
div.toggles {
  margin-left:10px;
}
/* Right */
div.right {
  width:85%;
  float:left;
  padding-top:10px;
}
div.controls {
  overflow:hidden;
  min-width:100%;
  height:40px;
  background-color:#fafafa;
  padding-top:15px;
  border-bottom:1pt solid #c9c9c9;
}
div.more {
  position:absolute;
  top:19px;
  right:10px;
  display:none;
}
label {
  margin:20px;
  color:#55454;
}
.filearea {
  width:100%;
  background-color:#0b266c;
  height:30px;
}
.fl-msg {
  color:#7C7C7C;
  float:left;
  font-size:15px;
  font-weight:bold;
  margin-top:2px;
  margin-left:20px;
  margin-right:6px;
}
.fl-logs{
  float:left;
}
.fl-log {
  border-radius:3px;
  padding:4px;
  float:left;
  background-color:#f4f4f4;
  color:#666;
  cursor:pointer;
  margin-left:6px;
  margin-right:5px;
}
.fl-log:hover {
  background-color:#fff;
}
.fl-log-active {
  background-color:#db4d4d;
  color:#fff;
}
.fl-log-active:hover {
  background-color:#db4d4d;
}
.search-main {
  position:absolute;
  font-size:14px;
  margin-left:10px;
  margin-top:5px;
}
#tbl-detail {
  display:none;
}
.rowext {
  background-color:#FEFFD5;
  color:#666;
  width:100%;
  float:left;
  clear:left;
  padding: 10px 0px;
  font-family:"Courier New", monospace;
  white-space:pre;
  border-bottom:2pt solid #cc0000;
}
div.key {
  float:left;
  margin-left:20px;
  width:200px;
  text-align:right;
}
div.value {
  padding-left:20px;
  font-weight:bold;
  float:left;
  cursor:pointer;
}
.fminput {
  float:left;
  margin-left:10px;
}
input {
  border:none;
  border:1pt solid #545454;
  border-radius:3px;
  padding:4px;
  padding-left:20px;
  background-color:#e7e7e7;
  font-size:13px;
  margin-left:5px;
}
